.button,
.data,
.example,
.field,
.information,
.my_carousel{
	margin-left: 10%;
	position: relative;
	width: 80%;
}

.caption{
	margin-top: -15px;
}

.caption_display{
	margin-top: -25px;
}

.field{
	margin-top: 30px;
}

.label{
	float: left;
	width: 60%;
}

.my_carousel{
	height: 200px;
}

.my_container{
	width: 60%;
}

.my_container,
.my_row,
body,
html{
	height: 100%;
	min-height: 100%;
	min-width: 1000px;
}

.space{
	margin-top: 15px;
}

.voice{
	display: none;
}